body {
    background-color: #697565;
    margin: 0;
}

.top-container{
    background-color: #3C3D37;
    margin: 0;
}

.middel-container{
    background-color: #3C3D37;
    margin: 0;
}


h1{
    color:#ECDFCC;
    margin-top: 0;
}
h2{
    color:#ECDFCC;
    margin-top: 0;
}
h3{
    color:#1E201E;
}

hr {
    background-color: none;
    border-style: dotted none none;
    border-width: 5px;
    border-color: #3C3D37;
    width: 33%;
}